.cart {

  @media (min-width: 1200px) {
      padding: 40px 32px 80px 32px;
    }

  &__container {
    margin: 25px 16px 56px 16px;

    @media (min-width: 640px) {
      margin: 40px 24px 64px 24px;
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }

  &__back {
    display: flex;
    align-items:flex-start;
    margin-bottom: 24px;

    @media (min-width: 640px) {
      margin-bottom: 16px;
    }
  }

  &__backIcon {
    padding-left: 6px;
    height: 12px;
  }

  &__backBtn {
    font-family: 'Mont-SemiBold';
    font-size: 12px;
    line-height: 15px;
    color: #89939A;
    text-decoration: none;
  }

  &__heading {
    font-family: 'Mont-Bold';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #0F0F11;
    margin-bottom: 32px;

    @media (min-width: 640px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__phonecard {
    width: 288px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #E2E6E9;
    border-radius: 16px;

    @media (min-width: 640px) {
      width: 592px;
      height: 128px;
      display: flex;
      align-items: center;
    }
    @media (min-width: 1200px) {
     width: 752px;
     height: 128px;
    }
  }

  &__selectedItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (min-width: 1200px) {
      margin-right: 16px;
    }
  }

  &__deleteBtn {
    background: none;
    border: none;
    height: 10px;
    margin: 52px 26px 22px 26px;
    display: block;

    @media (min-width: 640px) {
      margin: auto 28px;
    }
  }

  &__phonecard-photo {
    height: 66px;
    margin-top: 24px;
    display: block;
    @media (min-width: 640px) {
      margin: 0;
    }
  }

  &__phonecard-about {
    display: flex;
  }

  &__phonecard-name {
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;
    color: #0F0F11;
    width: 128px;
    margin-top: 24px;
    margin-left: 24px;
    @media (min-width: 640px) {
      margin-top: 0;
    }
    @media (min-width: 1200px) {
      margin-left: 28px;
      width: 336px;
      margin-right: 24px;
    }
  }

  &__quantityBtn {
    border: none;
    background: none;
    cursor: pointer;
  }

  &__quantityBtn-delete {
    margin-left: 16px;
    margin-right: 12px;
  }

  &__quantityBtn-add {
    margin-left: 12px;
    margin-right: 110px;
    @media (min-width: 1200px) {
      margin-right: 52px;
    }
  }

  &__quantity {
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  &__phonecard-about {
    display: flex;
    align-items: center;
  }

  &__phonecard-quantity {
    margin-top: 24px;
    @media (min-width: 640px) {
      margin: 0;
    }
  }

  &__price {
    font-family: 'Mont-Bold';
    font-size: 22px;
    line-height: 140%;
    color: #0F0F11;
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 288px;
    height: 190px;

    border: 1px solid #E2E6E9;
    border-radius: 16px;
    margin: 32px auto 56px auto;

    @media (min-width: 640px) {
      width: 592px;
      height: 190px;
    }

    @media (min-width: 1200px) {
      margin: 0;
      width: 368px;
      height: 206px;
    }
  }

  &__total-amount {
    font-family: 'Mont-Bold';
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0F0F11;
  }

  &__total-text {
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #89939A;
    margin-bottom: 16px;

    @media (min-width: 1200px) {
      margin-bottom: 24px;
    }
  }

  &__line {
    width: 240px;;
    border: 0.5px solid #E2E6E9;
    margin-bottom: 16px;

    @media (min-width: 640px) {
      width: 544px;
    }

     @media (min-width: 1200px) {
      width: 321px;
      margin-bottom: 24px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    background: #F86800;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 'Mont-SemiBold';
    font-size: 14px;
    line-height: 21px;

    @media (min-width: 640px) {
      width: 544px;
    }

    @media (min-width: 1200px) {
      width: 320px;
    }
  }

  &__checkout {
    @media (min-width: 1200px) {
      display: flex;
    }
  }
}
