* {
  box-sizing: border-box;
}

body,
main,
h1,
h2,
h3,
h4,
h5,
p,
section,
article {
  margin: 0;
}

button {
  padding: 0;
}

.welcomeTitle {
  display: grid;
  grid-auto-flow: row;
  margin-top: 80px;
  width: 1136px;
  margin: auto;

  margin-top: 56px;

  @media (max-width: 1199px) {
    width: 593px;
    margin-top: 32px;
  }

  @media (max-width: 639px) {
    width: 288px;
    margin-top: 24px;
  }

  &__title_L {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #0F0F11;

    @media (max-width: 1200px) {
      display: none;;
    }
  }

  &__title_M {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #0F0F11;

    @media (min-width: 1199px) {
      display: none;;
    }

    @media (max-width: 639px) {
      display: none;;
    }

  }

  &__title_S {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #0F0F11;

    @media (min-width: 639px) {
      display: none;;
    }
  }

  &__Slider {
    display: block;
    width: 1040px;
    height: 400px;
    // background-color: #89939A;
  
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    
    @media (max-width: 1199px) {
      width: 490px;
      height: 189px;
    }
  
    @media (max-width: 639px) {
      width: 320px;
      height: 320px;
    }

    // @media (max-width: 1199px) {
    //   width: 593px;
    //   margin-top: 32px;
    // }
  
    // @media (max-width: 639px) {
    //   width: 288px;
    //   margin-top: 24px;
    // }
  }
}

.welcomeTitle__arrowRight {
  border: 1px solid #B4BDC3;
  border-radius: 48px;
  height: 400px;
  width: 32px;
  position: absolute;
  top: 0;
  right: -50px;

  @media (max-width: 1199px) {
    height: 189px;
  }

  @media (max-width: 639px) {
    display: none;
  }

  &__img {
    position: absolute;
    bottom: 200px;
    left: 8px;
  
    @media (max-width: 1199px) {
      bottom: 94.5px;
      left: 6px;
    }
  
    @media (max-width: 639px) {
      display: none;
    }
  }
}

.welcomeTitle__arrowLeft {
  border: 1px solid #B4BDC3;
  border-radius: 48px;
  height: 400px;
  width: 32px;
  position: absolute;
  top: 0;
  left: -50px;

  @media (max-width: 1199px) {
    height: 189px;
  }
  @media (max-width: 639px) {
    display: none;
  }

  &__img {
    position: absolute;
    bottom: 200px;
    left: 8px;

    @media (max-width: 1199px) {
      bottom: 94.5px;
      left: 6px;
    }

    @media (max-width: 639px) {
      display: none;
    }
  }
}

.banner189 {
  @media (min-width: 1199px) {
    display: none;
  }
  
  @media (max-width: 639px) {
    display: none;
  }
}

.banner320 {
  @media (min-width: 639px) {
    display: none;
  }
}

.banner400 {
  @media (max-width: 1199px) {
    display: none;
  }
}

.slick-dots li button:before {
  display: block;
  color: #E2E6E9;
  background-color: black;
  width: 14px;
  height: 4px;
  top: 10px;
  content: url('https: //img.icons8.com/material/512/sort-down--v1.png');
}
